@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}

:root {
    --primary : #000000;
    --secondary : #ffd936;
    --white : #efefef;
}

body {
    font-family: "DM Sans", sans-serif ;
    color: var(--primary);
    margin:0; 
    padding: 0;
    min-height: 100vh;
}

/* NAVBAR WITH SOCIAL MEDIA LINKS AND PHONE CALL LINK */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary);  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 70px;  
}


.nav-list { 
display: flex; 
list-style: none;
gap: 30px;
align-items: center;  
justify-content: space-evenly;
 
}

.nav-list .socialmedia {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-evenly;

}

.nav-list a {
    color: var(--white);
    text-decoration: none;
    float: left; 
    display: flex;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: large;
    transition: 0.7s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(5, 5, 5, 0.831);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.075);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.sidebar li {
    width: 100%;
    align-items: center;
    padding-top: 0;
    padding-left: 30%;
    padding-bottom: 15%;
}

.sidebar a {
    width: 100;
    color: var(--white);
    text-decoration: none;
   
}
.mobile-btn {
    display: none;
}
/* JUMBOTRON PAGE HEADER */

#main {
    background-image: url('./RCHImages/TruckTrailer.jpg');
    min-height: 100%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}
section {
    margin: 80px auto;
}

.btn {
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.btn-secondary {
    border: 2px solid var(--white);
    color: var(--white);
    font-weight: bold;
    text-decoration: none;

}

.btn-primary {
    border: none;
    background: var(--secondary);
    color: var(--primary);
    text-decoration: none;
}

.a-btn {
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    color: var(--white);
}

.main-content .intro-heading {
    
    font-size: 110px;
    margin-top: -20px;
    text-shadow: -1px -1px 0 rgb(97, 2, 2), /* Top-left shadow */
    1px -1px 0 rgb(97, 2, 2),  /* Top-right shadow */
    -1px 1px 0 rgb(97, 2, 2),  /* Bottom-left shadow */
    1px 1px 0 rgb(97, 2, 2);   /* Bottom-right shadow */;
}

.main-content p {
    max-width: 250px;
    margin-bottom: 10px;
}

.menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    text-decoration: none;
}

/* SERVICES SECTION */

.section-title h1 {
        font-size: 50px;
        text-align: center;
    }
    .section-title .line {
        width: 150px;
        height: 4px;
        border: 10px;
        background-color: var(--secondary);
        margin: auto;
    }

    .services {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
    }

    .service {
        width: 350px;
    }

    .service img {
        max-width: 100%;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }

    .service img:hover {
        transform: scale(1.05)
    }
    
/* ABOUT US SECTION */



#about-us .container {
    max-width: 1200px; 
    margin: 0 auto;    
    padding: 40px 20px; 
    
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.about-content {
    display: flex;
    align-items: center;   
    gap: 40px;              
    flex-wrap: wrap;        
    max-width: 100%;        
}

#about-us img {
    flex: 0 0 45%;          
    max-width: 400px;       
    height: auto;
    border-radius: 10px;   
}

.about-text {
    flex: 1;                
    padding: 0;             
    color: var(--primary);
}

.phone {
        text-decoration: none;
    }


/* PICTURE CAROUSEL */

    .carousel {
        margin: 100px auto;
        width: 90%;
        border: transparent;
        display: flex;
        overflow-x: auto;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }
    .group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        animation: spin 10s infinite linear;
        padding-right: 1em;
    }

    .card {    
        flex: 0 0 5em;
        background: var(--primary);
        font-size: 3rem;
        border-radius: .2em;
        text-align: center;
        align-content: center;
    }

   .card img {
          max-width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
          padding: 0;
          margin: 0;
          border-radius: 25px;
          border-color: var(--primary);

    } 

    @keyframes spin{
        from {translate: 0;}
        to {translate: -100%;}
    }

/* SUBMISSION EMAIL FORM SECTION w text paragraph first then form info */

    #questions {
        min-height: 500px;
        background-image: url('./RCHImages/Joshua\ J.\ -\ 1.PNG');
        object-fit: cover;
        padding: 0;
        margin: 0;
        height: 100%;
        max-width: 100%;
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
        overflow: hidden;
    }

    #questions .container {
        max-width: 100%;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-evenly;
        height: 500px;
    }

    .questions-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: var(--white);
        text-shadow: -1px -1px 0 rgb(97, 2, 2), /* Top-left shadow */
    1px -1px 0 rgb(97, 2, 2),  /* Top-right shadow */
    -1px 1px 0 rgb(97, 2, 2),  /* Bottom-left shadow */
    1px 1px 0 rgb(97, 2, 2);   /* Bottom-right shadow */;
    }
    #questions h1 {
        font-size: 50px;
    }
    #questions h1 h3 {  
        flex-direction: row;

    }
    .contact-left {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .contact-left-title {
    
        color: var(--white);
        text-shadow: -1px -1px 0 rgb(97, 2, 2), /* Top-left shadow */
        1px -1px 0 rgb(97, 2, 2),  /* Top-right shadow */
        -1px 1px 0 rgb(97, 2, 2),  /* Bottom-left shadow */
        1px 1px 0 rgb(97, 2, 2);   /* Bottom-right shadow */;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .contact-left-title hr {
        border: none;
        width: 120px;
        height: 5px;
        background-color: var(--primary);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .contact-inputs {
        width: 400px;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 25px;
        font-weight: 500;
        color: #666;
        border-radius: 50px;
    }

    .contact-left textarea {
        height: 140px;
        padding-top: 15px;
        border-radius: 20px;
    }

    .contact-inputs:focus{
        border: 2px solid black;
    }

    .contact-inputs::placeholder {
        color: #a9a9a9;
    }

    .contact-left button img{
        height: 15px;
    }

    .contact-right img{
        width: 500px;
    }

/* FOOTER DESIGN */

footer {
        margin: auto;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
    }
 
footer .container {
        display: flex;
        justify-content: space-evenly;
        gap: 25px;
        align-items: center;
        max-height: 70px;
        list-style-type: none;

    }

footer ul {
    display: flex;
    gap: 25px;
    list-style-type: none; /* Removes the bullet points (discs, squares, etc.) */
    padding: 0;           /* Optional: Removes default left padding (indentation) */
    margin: 0;            /* Optional: Removes default margin */
}

.footer-links a {
        display: flex;
        flex-direction: row;
        gap: 16px;
        text-decoration: none;
        color: var(--primary);
    }

/* RESPONSIVE DESIGN CODE */

@media screen and (max-width: 800px){
    .hideOnMobile {
        display: none;
    }

    .mobile-btn {
        display: block;
    }

    .main-content .intro-heading {
    font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
    #about-us .container {
        flex-direction: column;
        gap: 30px;
    }
    }

    .about-content {
        display: flex;
        flex-direction: column;
    }
     .contact-inputs{
        width: 100%;
    }

    .contact-right{
        display: none;
    }

    #questions .container {
         flex-direction: row;
         align-items: center;
    }
    
    #questions .questions-text {
        display: none;
    }

    footer .container {
        flex-direction: column;
        gap: 16px;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}